@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");

* {
  text-align: center;
  font-family: "Noto Serif", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 16pt;

  min-height: 100vh;

  background-image: url("../assets/FFXIV/Chocobo_racing.jpg");
  background-color: #111;
  background-size: cover;
  /* background-size: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  background: linear-gradient(180deg, #666764 0%, #2f2f2f 32%);
  border: 2px solid #afaa89;
  border-radius: 15px;
  border-collapse: separate;
}

h1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

th {
  color: #ded2b8;

  text-shadow: 30px;
}

td {
  color: #c2c2c2;
  padding-bottom: 5px;
}

button {
  padding: 3px 50px 3px 50px;
  color: #ffffff;
  font-size: 14pt;

  border-style: solid;
  border-radius: 25px;
  border-color: #202020;
  background: linear-gradient(180deg, #919191 0%, #404040 50%, #393939 100%);
}

button:hover,
button:active {
  background: linear-gradient(180deg, #808280 0%, #5b5d5b 50%, #4b474b 100%);
}
