h1 {
  text-align: center;
  font-size: 100px;
  color: red;
}
h1:hover,
p:hover {
  background-color: ghostwhite;
  color: #000000;
}

/* Importado da Alura */

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://c.tenor.com/mJG-jgDFw7oAAAAM/crash-bandicoot-dance.gif");
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle,
#page-grades,
#page-final-grade {
  font-size: 16pt;
  background-color: #111111;
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
